#header {
border-radius:5px;
border-style:ridge groove ridge groove;
border-width:8px;
border-color:#C4C4C4;
font-size:24px;
text-align:center;
width:500px;
box-shadow:1px 1px 10px #C4C4C4}

#footer {
border-radius:5px;
background-color:#C4C4C4;
text-align:center
}

b {
font-family:Verdana;
background-color:#096477;
border-radius:7px;
padding:5px 5px 5px 5px
}

img:not(#news):not(#final) {
box-shadow: 1px 1px 10px #C4C4C4
}

#zen, #bartaz, #madiba, #comic {
opacity:0.8;
-webkit-transition: opacity 0.5s;
-moz-transition:    opacity 0.5s;
-ms-transition:     opacity 0.5s;
-o-transition:      opacity 0.5s;
transition:         opacity 0.5s;
}

#zen:hover, #bartaz:hover, #madiba:hover, #comic:hover {
opacity:1
}

a:not(.twitter-share-button) {
text-decoration:none;
color:inherit
}

p:not(#name):not(#header) {
text-align:center;
font-size:32px
}

#sam {opacity:0.4}

/* Taken from impress-demo.css */
.impress-enabled .step, .impress-enabled .step.ninja.lazy.past {
    margin: 0;
    opacity: 0.2;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}
.impress-enabled .step.ninja {opacity: 0}
.impress-enabled .step.ninja.active {opacity: 1}
.impress-enabled .step.active {opacity: 1}

.no-support-message {display:none;}
.impress-not-supported .no-support-message {display:block;}